.feed{
	padding-bottom: 2em;
}

.comment-holder{
	margin-bottom: 20px;
	border-bottom: 1px solid #e9e8e7;
	padding-bottom: 1em;
}

.comment{
	padding-left: 1em;
}

.comment-replies{
	padding-left: 3em;
}
.post-time{
	font-size: 10px;
	font-style: italic;
	color: #888;
}

.customer-order-holder{
	padding: 10px;
}

.customer-order-holder:hover{
	background: #eee;
}

#post-ul{
	list-style: none;
	padding: 0;
}

#post-ul li.active{
	background: #bdc3c7;
}

#post-ul li a,
#post-ul li a:hover{
	text-decoration: none;
	display: block;
	padding: 5px;
}

#post-ul li{
	background: #ecf0f1;
}

#post-ul li:hover{
	background: #bdc3c7;
}