/*global css eto*/
/*present to sa lahat ng page ilalagay ko sya sa header.php para included na sya sa lahat*/
.champagne{
	font-family: 'cac_champagneregular';
}

.row{
	background: #fff;
}

#rent-item{
	border: none;
	padding: 4px;
	width: 100%;
	background:transparent;
	font-weight: bold;
/* 	color: #fff; */
}

.block{
	display: block;
}

.txt-sm{
	font-size: 12px;
}

.badge{
	background: #9b59b6 !important;
}

.article{
	/*min-height: 650px;*/
}

.input-wrapper{
	margin-bottom: 1.5em;
}

.footer-holder{
	padding-top: 16px;
}

#footer{
	background: black;

}
#footer > p {
	text-align: center;
	color:orange;
}

.product-holder{
	border: 1px solid #ddd;
	padding: 1em 1em 1em 1em;
	/*height: 435px;*/
	margin-bottom: 1em;
}

.product-price{
	color: rgba(230, 126, 34,1.0);
}

.product-link:hover,
.product-link{
	color: #222;
	text-decoration: none;
}

.leave-message{
	color: rgba(155, 89, 182,1.0) !important;
}

.register-buttons{
	background: #fff;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,.2);
	border-radius: 3px;
	padding: 3em;
}

.register-buttons img{
	width: 100%;
	margin-bottom: 1em;
}

.no-spin::-webkit-inner-spin-button, 
.no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
    -moz-appearance:textfield !important;
}

.asterisk{
	color: red;
}

.italic{
	font-style: italic;
}

.order-status-active{
	color: #337ab7;
}.order-status-denied{
	color: #ff5722;
}.order-status-approved{
	color: #4caf50;
}.order-status-returned{
	color: #673ab7;
}.order-status-canceld{
	color: #673ab7;
}

.relative{
	position:relative;
}
.absolute{
	position: absolute;
}

.cursor-pointer{
	cursor: pointer;
}

.money{
	text-align: right;
}
.money::before{
	content: "Php ";
	text-align: right;
	font-weight: 700;
	/* color: #333; */
	float: left;
}