/*NOTE*/
/*
	wag mo na lagyan ng width ang mga elements na nasa loob ng .container, .row, at nng mga .col-lg-* or , .col-md-* etc
	para hindi masira ang mga widths nila na nasukat na ng bootsrap :D; COPY :);

*/


#header {
	/*background-image: url(../images/banner.jpg);
    background-position: center;
    background-attachment: fixed;*/

	height:141px;
}


#content_area img{
	/*eto nilagyan ko ng width kasi img sya kailangan nya ma man ang parent width nya*/
	/*pwede po liitan yan?*/
	/*pwede*/
	width: 100%;
}

.glyphicon-menu-hamburger {
  font-size: 10px;
}


.product-description{
	/*height: 30px;*/
	margin-bottom: 1em;
}

.store-rating{
	display:inline-block;
	height:10px;
	background: #3498db;
}

.my-order{
	margin-bottom: 20px;
}
