#owner-dashboard .menu-icon{
	background: #fff;
	border-radius: 100%;
	padding: 2em;
	box-shadow: 0 0 10px 0 rgba(0,0,0,.03);
}

#owner-dashboard .menu-icon > img{
	width:100%;
}

#owner-dashboard .menu-desc h4{
	text-align: center;
}

.my-product-holder{
	/*background: pink;*/
	height: 330px;
}

.my-product-img img{
	width: 100%;
}

.store-name{
	font-size: 6em !important;
	text-align: center;
}

#add-product-table td{
	border: none;
}

#add-product-table tbody tr td:first-child{
	width: 150px;
	text-align: right;
}

.post-time{
	font-size: 10px;
	font-style: italic;
	color: #888;
}

.order-body table tbody tr td:first-child{
	width: 150px;
}


#product-link {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #ecf0f1;
}
#product-link li > ul{
	background: #2c3e50;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#product-link > li > a{
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: bold;
    /*border-bottom: 1px solid #3498db;*/
}

#product-link li > ul li a{
	text-decoration: none;
    display: block;
    padding: 8px 16px 8px 32px;
    color: #fff;
}

#product-link li a.active {
    /*background-color: #4CAF50;*/
    background: rgba(52, 152, 219,1.0);
    color: white;
}

#product-link > li > a:hover:not(.active) {
    background-color: rgba(52, 152, 219,1.0);
    color: white;
}

.asdf-product-holder{
	border-left: 1px solid #ddd;
}