<div id="con-info">Tell us why would you like to cancel your order?</div>
<div class="input-wrapper clearfix">
	<textarea name="compose" id="" rows="2" class="form-control"></textarea>
</div>
<input type="hidden" name="order-id" id="order-id">