<div id="con-info"></div>
<div class="input-wrapper clearfix">
	<label for="">Post reply</label>
	<textarea name="reply" id="" rows="2" class="form-control"></textarea>
	<button type="button" id="btn-dialog-reply" class="btn btn-primary pull-right" style="margin-top: 5px;">Reply</button>
</div>
<div class="input-wrapper">
	<input type="hidden" name="feed-id" value="">
	<input type="hidden" name="user-id" value="">
	<input type="hidden" name="store-id" value="">
</div>

<div class="" id="load-conversation"></div>