<div class="input-wrapper">
	<label for="">Note</label>
	<textarea 
		name="note" 
		id="" 
		class="form-control" 
		style="height:100px;" 
	>Thank you for sending us your desired customized dress/coat we have accepted your request and we'll be waiting you at our shop for your body measurement info.</textarea>
</div>