<div id="div-note"></div>
<div class="input-wrapper clearfix">
	<textarea name="compose" rows="2" id="compose" class="form-control"></textarea>
</div>
<input type="hidden" name="order-id" id="order-id">
<input type="hidden" name="number" id="mobile">