<div class="input-wrapper">
	<label for="">Note</label>
	<textarea 
		name="note" 
		id="" 
		class="form-control" 
		style="height:100px;" 
	>Thank you for trying our customized dress</textarea>
</div>