<div class="input-wrapper">
	<label for="">Fitting Date</label>	
	<input type="text" name="fitting-date" id="fitting-date" class="form-control datepicker">
</div>
<div class="input-wrapper">
	<label for="">Note</label>
	<textarea 
		name="note" 
		id="note" 
		class="form-control" 
		style="height:100px;" 
	>Thank you for sending us your desired customized dress/coat we have accepted your request and we'll be waiting you our shop on for your body measurement info.</textarea>
</div>