<div class="input-wrapper">
	<label for="">Part</label>
	<select name="part" id="" class="form-control">
		<option value=""></otption>
		<option value="top">Top</option>
		<option value="bottom">Bottom</option>
		<option value="sleeves">Sleeves</option>
		<option value="neck">Neck</option>
	</select>
</div>

<div class="input-wrapper">
	<label for="">Image</label>
	<input type="file" name="image" id="" class="form-control">
</div>