<div>
	Reply
</div>
<div class="input-wrapper">
	<label for=""></label>
	<textarea name="reply" id="" rows="5" class="form-control"></textarea>
</div>

<div class="input-wrapper">
	<input type="hidden" name="feed-id" value="">
	<input type="hidden" name="user-id" value="">
</div>