<div class="input-wrapper">
	<label for="">Select star</label>
	<select name="star" id="" class="form-control">
		<option value="5">5</option>
		<option value="4">4</option>
		<option value="3">3</option>
		<option value="2">2</option>
		<option value="1">1</option>
	</select>
</div>

<div class="input-wrapper">
	<label for="">Review</label>
	<textarea name="review" id="" rows="5" class="form-control"></textarea>
</div>

<div class="input-wrapper">
	<input type="hidden" name="product-id" id="product-id" value="">
	<input type="hidden" name="review-id" id="review-id">
</div>