<div class="input-wrapper">
	<label for="">Select star</label>
	<select name="star" id="" class="form-control">
		<option value="five">5</option>
		<option value="four">4</option>
		<option value="three">3</option>
		<option value="two">2</option>
		<option value="one">1</option>
	</select>
</div>